@model List<Cobalt.Models.Posts.Post>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    @foreach (var Item in Model)
    {
        <div class="Post">
            <h1>@Item.Title</h1>
            <div id="ByLine">
                <div id="DateTime">@Item.Time</div> <div id="Credit">Collin</div>
            </div>
            <div id="Body">
                @Item.Body
            </div>
        </div>
    }
</div>
